header.header#header
  .container
    .header-wrap
      .header-left
        .header-logo
          a(href="/")
            img(src="images/logi-iccn.png", alt="logo")
            img.colored(src="images/iccn-logo-colored.png", alt="logo")
      .header-right
        nav.header-nav
          .nav-item(class=activepage =="home"? "active":"")
            a(href="/") HOME
          .nav-item.has-sub(class=activepage =="about"? "active":"")
            a(href="#") ABOUT
            .sub-menu
              .nav-item(class=activesubpage =="about-iccn"? "active":"")
                a(href="about-new.html") ICCN
              .nav-item(class=activesubpage =="about-ifcn"? "active":"")
                a(href="about-ifcn.html" ) IFCN
              .nav-item( class=activesubpage =="about-ina"? "active":"")
                a(href="about-ina.html") Indonesian Neurolgical Association
          .nav-item.has-sub(class=activepage =="programme"? "active":"")
            a(href="#") PROGRAMME
            .sub-menu
              .nav-item(class=activesubpage =="programme"? "active":"")
                a(href="program-atglance.html" ) Programme At Glance
              .nav-item.disabled(class=activesubpage =="programme"? "active":"")
                a(href="#" ) Full Program
              .nav-item.disabled(class=activesubpage =="programme"? "active":"")
                a(href="#") Speakers of ICCN
          .nav-item.has-sub
            a(href="login.html") REGISTRATION
            .sub-menu
              .nav-item.disabled(class=activesubpage =="reg-fee"? "active":"")
                a(href="#") Registration Fee
              .nav-item(class=activesubpage =="reg-page"? "active":"")
                a(href="login.html") Registration Page
          .nav-item.has-sub
            a(href="#") ABSTRACT & SUBMISSION
            .sub-menu
              .nav-item(class=activepage =="ab-aubmission"? "active":"")
                a(href="abstract.html" ) Abstract Submission Guideline
              .nav-item(class=activepage =="ab-cate"? "active":"")
                a(href="abstract-categories.html" ) Abstract Categories
              .nav-item.disabled(class=activepage =="ab-poster"? "active":"")
                a(href="#" ) Poster Format
              .nav-item(class=activepage =="ab-travel"? "active":"")
                a(href="travel-grants.html" ) Travel Grants
          .nav-item.has-sub
            a(href="#") TRAVEL & ACCOMODATION
            .sub-menu
              .nav-item(class=activepage =="travel"? "active":"")
                a(href="indonesian-visa.html") Indonesian Visa
              .nav-item(class=activepage =="travel"? "active":"")
                a(href="destination.html") Destination in Jakarta
              .nav-item(class=activepage =="travel"? "active":"")
                a(href="hotel.html") Hotel
              .nav-item(class=activepage =="travel"? "active":"")
                a(href="transportation.html") Transportation
          .nav-item.disabled(class=activepage =="faq"? "active":"")
            a(href="#") FAQ
          //- .nav-item.disabled(class=activepage =="profile"? "active":"")
          //-   a(href="#") PROFILE
      .burger-menu
        span
        span
        span